DATABASE_URL=
DATABASE_URL_UNPOOLED=
SESSION_SECRET=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_INSTAPAY_HANDLE=

ADMIN_NAME_1=Admin One
ADMIN_EMAIL_1=admin@lab2dent.local
ADMIN_PASSWORD_1=

ADMIN_NAME_2=Admin Two
ADMIN_EMAIL_2=ops@lab2dent.local
ADMIN_PASSWORD_2=
